.myInput {
  width: 200px;
  padding: 0 1px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border: 2px solid #DBC7B3;
  font-size: 1rem;
  border-radius: 7px;
}

input:focus {
  outline: 0;
  border-color: #DBC7B3;
}

.myInput::placeholder {
  padding-left: 7px;
}

@media (max-width: 800px) { 
  .myInput {
    width: 150px;
  }
}