.ChatsList {
  padding: 0.3em 0 1em;
  display: flex;
  flex-direction: column;
  overflow-x: auto
 }
  .ChatsList .title_chats {
    padding: 0 0.5em;
    color: var(--accent);
    font-weight: 400;
    display: inline-flex;
    width: 100px;
  }
  .ChatsList .chats {
    margin-top: 2em;
    flex-grow: 1;
  }
  .ChatsList .no_chats {
    padding: 3em 1em;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .header_chats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
  .create_chat {
    color: var(--accent);
    margin-top: 0.25em;
    padding: 0.4em;
    border-radius: 0.5em;
    width: 150px;
    background-color: white;
    border: 2px dashed #D3D2DA;
    cursor: pointer;
    font-size: 1.1em;
  }

